*{
  margin: 0px;
}

body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, #6A63A4, #1F1F35);
}

.view{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-left-wave{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 35%;
}

.bg-left-star{
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 17%;
}

.bg-elf{
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 11%;
}

.bg-right-wave{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 28%;
}

.bg-right-star{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 23%;
}

