.nav-container{
  width: 100%;
  height: 96px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.nav-container>.row{
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container>.row>.col:nth-child(2){
  color: white;
  font-size: 26px; 
  display: flex; 
  align-items: center;
  /* justify-content: space-around; */
  width: 15%;
}

/* .nav-container>.row>.col:nth-child(2) * + * {
  padding-left: 5px;
  padding-right: 5px;
} */

.nav-container>.row>.col:nth-child(2) i {
  padding-left: 20px;
}

/* .col:hover{
  cursor: pointer; 
}  */


/* ----這邊處理nav光箱---- */
    
.lightbox_hidden{
  background-color: black;
  opacity: .7;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.lightbox_visible{
  background-color: black;
  opacity: .8;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  z-index: 200;
  transition: linear .8s;
}

.lightbox_visible>.wrap{
  width: 75%;
  height: 70%;
  margin: auto;
  color: white;
}

.lightbox_visible>.wrap>p{
  font-size: 32px;
  font-weight: bolder;
  min-width: 40%;
  margin: 30px 0px;
}

.lightbox_visible>.wrap>p:hover{
  cursor: pointer;
  background-color: #FAFA88;
  color: black;
  width: 40%;
}

.close{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.close:hover{
  cursor: pointer;
  background-color: yellow;
}

.fa-bars:hover{
  cursor: pointer;
}

